# These should be set in Convex
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_ACCOUNT_NAME=
CLERK_JWT_ISSUER_DOMAIN=
CLERK_WEBHOOK_SECRET=
DOCUMENT_INTELLIGENCE_API_KEY=
DOCUMENT_INTELLIGENCE_ENDPOINT=
DOCUMENT_INTELLIGENCE_API_VERSION=
RESEND_API_KEY=
RESEND_AUDIENCE_ID=